
:root{
    --main-content-margin-left: calc(var(--navbar-width) + 1rem);
    --main-content-margin-top: calc((100vh - var(--main-content-height)) - 2.5vh);

    --main-content-height: 90vh;
    --main-content-width: 50%;

    --create-post-height: 5rem;
    --post-max-height: 60rem;
    --post-area-max-height: calc(var(--main-content-height) - var(--create-post-height));
    --content-margin-left: 2rem;
    --content-max-width: calc(100% - 2.1*(var(--content-margin-left)));
    --post-image-max-height: calc(var(--post-max-height)/2);
    --post-image-max-width: calc(var(--main-content-width));
    --post-background-color: rgba(0,155,220,1);
}

/*#region Basic Structure*/

main h2.page-display{
    position: absolute;
    margin-left: calc(var(--main-content-margin-left) + 1rem);
    margin-top: calc(var(--main-content-margin-top) - 3rem);
    font-size: var(--xl-font-size);
    color: var(--highlighted-text-color);
    text-shadow: var(--large-text-shadow);
}
main section#main-content{
    position: absolute;
    margin-top: var(--main-content-margin-top);
    margin-left: var(--main-content-margin-left);

    height: var(--main-content-height);
    width: var(--main-content-width);

    border-radius: var(--sharp-border-radius);
    background-color: var(--wb-complementary-bg-color);
    word-break: break-all
}

main section#main-content div.main-top a.create-post{
    --text-link-color: var(--standard-text-color);
    --text-link-highlight-color: var(--primary-color);

    text-align: center;
    line-height: var(--create-post-height);

    height: var(--create-post-height);
    width: 100%;

    font-weight: bold;
    font-size: var(--large-font-size);
    border-top-left-radius: var(--sharp-border-radius);
    border-top-right-radius: var(--sharp-border-radius);
    color: var(--text-link-color);
    background-color: var(--text-link-highlight-color);
}
main section#main-content div.main-top a.create-post:hover{
    color: var(--text-link-highlight-color);
    background-color: var(--text-link-color);
}
main section#main-content div.main-top .splash-displayer{
    --text-link-color: var(--standard-text-color);
    --text-link-highlight-color: var(--primary-color);

    line-height: var(--create-post-height);
    height: var(--create-post-height);
    width: 100%;

    font-weight: bold;
    font-size: var(--large-font-size);
    border-top-left-radius: var(--sharp-border-radius);
    border-top-right-radius: var(--sharp-border-radius);
    color: var(--text-link-color);
    background-color: var(--text-link-highlight-color);
}
main section#main-content div.main-top .splash-displayer h3{
    margin-left: var(--content-margin-left);
}

main section#main-content section.main-part{
    overflow-y: auto;
    max-height: var(--post-area-max-height);
    border-bottom-left-radius: var(--sharp-border-radius);
    border-bottom-right-radius: var(--sharp-border-radius);
}
main section#main-content section.main-part h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: var(--content-margin-left);
    color: var(--brighter-text-color);
}
main section#main-content section.main-part h2::after{
    content: "";
    display: block;
    margin-top: 0.3125rem;

    height: 5px;
    width: 30%;
    border-radius: var(--standard-border-radius);
    background-color: var(--brighter-text-color);
}
main section#main-content section.main-part h2>span::after{
    content: "";
    display: inline-block;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: -0.4rem;

    height: 1.7rem;
    width: 0.15em;
    border-radius: var(--standard-border-radius);
    background-color: var(--dimmer-text-color);
}

/*#endregion*/

/*#region Posts*/

main section#main-content section.main-part .post{
    transition: var(--sharp-eio-transition);
    padding: 0.625rem 0;
    max-height: var(--post-max-height);
    color: var(--standard-text-color);
    background-color: var(--post-background-color);
    overflow: hidden;
}
main section#main-content section.main-part .post.singular{
    max-height: 100%;
}
main section#main-content section.main-part .post:hover{
    background-color: var(--primary-color);
}

main section#main-content section.main-part .post h3,
main section#main-content section.main-part .post a.id-display,
main section#main-content section.main-part .post span.date,
main section#main-content section.main-part .post p.content,
main section#main-content section.main-part .post div.media-container{
    margin-left: var(--content-margin-left);
    max-width: var(--content-max-width);
}

main section#main-content section.main-part .post h3{
    line-height: 2.2rem;
}
main section#main-content section.main-part .post h3 a.author:hover,
main section#main-content section.main-part .post a.id-display:hover{
    color: var(--brighter-text-color);
    text-shadow: var(--large-text-shadow);
}
main section#main-content section.main-part .post h3 a.author{
    float: left;
    transition: var(--standard-eio-transition);
    margin-top: 0.563rem;
    width: 50%;
    color: var(--brighter-text-color);
}
main section#main-content section.main-part .post.singular h3 a.author{
    font-size: var(--large-font-size);
}
main section#main-content section.main-part .post h3 div.subject-container{
    float: right;
    margin-top: 0.563rem;

    height: 100%;
    width: 50%;
    color: var(--dimmer-text-color);
}
main section#main-content section.main-part .post h3 .subject-container a.subject{
    display: inline-block;
    margin-left: 0.315rem;
    height: 100%;
    padding: 0 0.315rem;
    border-radius: var(--standard-border-radius);
    color: var(--standard-text-color);
    background-color: var(--subject-background-color);
}
main section#main-content section.main-part .post h3 .subject-container span::before{
    content: "";
    display: inline-block;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: -0.4rem;

    height: 1.7rem;
    width: 0.2em;
    border-radius: var(--standard-border-radius);
    background-color: var(--dimmer-text-color);
}
main section#main-content section.main-part .post h3 .subject-container a.subject:hover{
    color: var(--dark-text-color);
    background-color: var(--highlighted-subject-background-color);
}
main section#main-content section.main-part .post a.id-display,
main section#main-content section.main-part .post span.date{
    font-style: italic;
}
main section#main-content section.main-part .post a.id-display{
    color: var(--standard-text-color);
}
main section#main-content section.main-part .post span.date{
    color: var(--thin-text-color);
}
main section#main-content section.main-part .post p.content{
    max-height: calc(var(--post-max-height) - 22rem);
    overflow: hidden;
}
main section#main-content section.main-part .post p.content a{
    display: inline;
    font-weight: bold;
    color: var(--brighter-text-color);
}
main section#main-content section.main-part .post p.content a:hover{
    color: var(--highlighted-text-color);
    text-shadow: var(--large-text-shadow);
}
main section#main-content section.main-part .post.singular p.content{
    margin: 1rem 0 1rem var(--content-margin-left);
    font-size: var(--large-font-size);
}

main section#main-content section.main-part .post div.media-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: var(--content-max-width);
}
main section#main-content section.main-part .post div.media-container img,
main section#main-content section.main-part .post div.media-container iframe{
    max-height: var(--post-image-max-height);
    border-radius: var(--standard-border-radius);
}
main section#main-content section.main-part .post div.media-container iframe.tiktok{
    min-height: 46.1rem;
    min-width: 20.2rem;
}
main section#main-content section.main-part .post div.media-container iframe.tiktok main #embed-video-container .css-vptvdy{
    border: none !important;
}
main section#main-content section.main-part .post.singular p.content{
    max-height: none;
}
main section#main-content section.main-part .post.singular div.media-container img,
main section#main-content section.main-part .post.singular div.media-container iframe{
    margin-bottom: 5rem;
    max-height: calc(var(--post-image-max-height) + 20rem);
    max-width: 100%;
}

/*#endregion*/
