
:root{
    --main-content-margin-left: calc(var(--navbar-width) + 1rem);
    --main-content-margin-top: calc((100vh - var(--main-content-height)) - 2.5vh);

    --main-content-height: 90vh;
    --main-content-width: 50%;

    --create-post-height: 5rem;
    --post-max-height: 60rem;
    --post-area-max-height: calc(var(--main-content-height) - var(--create-post-height));
    --content-margin-left: 2rem;
    --content-max-width: calc(100% - 2.1*(var(--content-margin-left)));
    --post-image-max-height: calc(var(--post-max-height)/2);
    --post-image-max-width: calc(var(--main-content-width));
    --post-background-color: rgba(0,155,220,1);
}

/*#region Basic Structure*/

main h2.page-display{
    position: absolute;
    margin-left: calc(var(--main-content-margin-left) + 1rem);
    margin-top: calc(var(--main-content-margin-top) - 3rem);
    font-size: var(--xl-font-size);
    color: var(--highlighted-text-color);
    text-shadow: var(--large-text-shadow);
}
main section#main-content{
    position: absolute;
    margin-top: var(--main-content-margin-top);
    margin-left: var(--main-content-margin-left);

    height: var(--main-content-height);
    width: var(--main-content-width);

    border-radius: var(--sharp-border-radius);
    background-color: var(--wb-complementary-bg-color);
    word-break: break-all
}

main section#main-content div.main-top a.create-post{
    --text-link-color: var(--standard-text-color);
    --text-link-highlight-color: var(--primary-color);

    text-align: center;
    line-height: var(--create-post-height);

    height: var(--create-post-height);
    width: 100%;

    font-weight: bold;
    font-size: var(--large-font-size);
    border-top-left-radius: var(--sharp-border-radius);
    border-top-right-radius: var(--sharp-border-radius);
    color: var(--text-link-color);
    background-color: var(--text-link-highlight-color);
}
main section#main-content div.main-top a.create-post:hover{
    color: var(--text-link-highlight-color);
    background-color: var(--text-link-color);
}
main section#main-content div.main-top .splash-displayer{
    --text-link-color: var(--standard-text-color);
    --text-link-highlight-color: var(--primary-color);

    line-height: var(--create-post-height);
    height: var(--create-post-height);
    width: 100%;

    font-weight: bold;
    font-size: var(--large-font-size);
    border-top-left-radius: var(--sharp-border-radius);
    border-top-right-radius: var(--sharp-border-radius);
    color: var(--text-link-color);
    background-color: var(--text-link-highlight-color);
}
main section#main-content div.main-top .splash-displayer h3{
    margin-left: var(--content-margin-left);
}

main section#main-content section.main-part{
    overflow-y: auto;
    max-height: var(--post-area-max-height);
    border-bottom-left-radius: var(--sharp-border-radius);
    border-bottom-right-radius: var(--sharp-border-radius);
}
main section#main-content section.main-part h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: var(--content-margin-left);
    color: var(--brighter-text-color);
}
main section#main-content section.main-part h2::after{
    content: "";
    display: block;
    margin-top: 0.3125rem;

    height: 5px;
    width: 30%;
    border-radius: var(--standard-border-radius);
    background-color: var(--brighter-text-color);
}
main section#main-content section.main-part h2>span::after{
    content: "";
    display: inline-block;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: -0.4rem;

    height: 1.7rem;
    width: 0.15em;
    border-radius: var(--standard-border-radius);
    background-color: var(--dimmer-text-color);
}

/*#endregion*/
