:root {
    --hourglass-color: rgba(255, 255, 0, 1);
    --object-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    --profile-picture-size: 3.125rem;

    --navbar-width: 18.75rem;
    --nav-item-width: 80%;
    --nav-item-icon-margin-left: calc(95% - var(--nav-item-width));
}

main aside#aside-left {
    position: absolute;
    text-align: center;
    height: 100%;
    width: var(--navbar-width);
    background-color: var(--wb-complementary-bg-color);
}

/*#region Title*/

main aside#aside-left h1 a {
    font-size: var(--xl-font-size);
    color: var(--brighter-text-color);
}
main aside#aside-left h1>a>i.fa-hourglass {
    color: var(--hourglass-color);
}
main aside#aside-left h1 a:hover{
    text-shadow: var(--large-text-shadow);
}

/*#endregion*/

/*#region Nav*/

main aside#aside-left nav {
    height: 80%;
    width: 100%;
}
main aside#aside-left nav ul {
    list-style: none;
    padding: 0;
}
main aside#aside-left nav ul li {
    margin-top: 0.625rem;
}
main aside#aside-left nav ul li.active a{
    --text-link-color: var(--standard-text-color);
    --text-link-highlight-color: var(--primary-color);
    color: var(--text-link-color);
    background-color: var(--text-link-highlight-color);
}

main aside#aside-left nav ul li i.fa-solid{
    position: absolute;
    left: 0;
    margin-top: 0.1rem;
    margin-left: var(--nav-item-icon-margin-left);
}

/*#endregion*/

main aside#aside-left nav a,
main aside#aside-left a#account-toggler {
    transition: var(--standard-eio-transition);
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: var(--nav-item-width);
    padding: 1rem;

    font-size: var(--large-font-size);
    border-radius: var(--standard-border-radius);
    color: var(--text-link-color);
    background-color: var(--wb-primary-bg-color);
}
main aside#aside-left nav a:hover,
main aside#aside-left a#account-toggler:hover {
    color: var(--text-link-highlight-color);
    box-shadow: var(--object-shadow);
    text-shadow: var(--standard-text-shadow);
    background-color: var(--text-link-color);
}

/*#region Profile*/

main aside#aside-left a#account-toggler {
    overflow: hidden;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--small-font-size);
}
main aside#aside-left a#account-toggler:hover{
    cursor: pointer;
}

main aside#aside-left a#account-toggler img {
    display: block;
    float: left;
    margin-right: 10px;

    height: var(--profile-picture-size);
    width: var(--profile-picture-size);
}
main aside#aside-left a#account-toggler span {
    display: block;
    float: left;
    overflow: hidden;

    width: 160px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

main aside#aside-left a#account-toggler:focus + #account-dropdown {
    display: block;
}

main aside#aside-left #account-dropdown {
    transition: var(--standard-eio-transition);
    display: none;
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    width: 90%;

    font-size: var(--large-font-size);
    border-radius: var(--standard-border-radius);
    box-shadow: var(--object-shadow);
    background-color: var(--wb-primary-bg-color);
}
main aside#aside-left #account-dropdown a {
    padding: 0.625rem;
    display: block;
    color: var(--text-link-color);
}
main aside#aside-left #account-dropdown:hover {
    background-color: var(--text-link-color);
}
main aside#aside-left #account-dropdown:hover a {
    text-shadow: var(--standard-text-shadow);
    color: var(--text-link-highlight-color);
}

/*#endregion*/
