/*
This file is to primarly use to set up variables,
and do general/univeral stuff in objects.
For instance: body.
*/
:root{

    /*Scrollbar*/
    --scrollbar-width: 0.75rem;
    --primary-scrollbar-color: rgba(0,108,235,1);
    --secondary-scrollbar-color: rgba(235,235,235,1);
	--active-primary-scrollbar-color: rgba(0,78,205,1);
	--active-secondary-scrollbar-color: rgba(205,205,205,1);



    /*Colors*/
    --primary-color: rgba(0,128,255,1);

	--highlighted-text-color: rgba(255,255,255,1);
	--brighter-text-color: rgba(245,245,245,1);
	--standard-text-color: rgba(225,225,225,1);
	--dimmer-text-color: rgba(205,205,205,1);
	--thin-text-color: rgba(195,195,195,1);
	--dark-text-color: rgba(60,60,60,1);

	--text-link-color: rgba(0,128,255,1);
	--text-link-highlight-color: rgba(230,230,230,1);

    --wb-primary-bg-color: rgba(215,215,215,1);
    --wb-complementary-bg-color: rgba(0,165,220,1);

	--subject-background-color: rgba(120,120,120,1);
	--highlighted-subject-background-color: rgba(200,200,200,1);
	



    /*Object Properties*/    
	--sharp-border-radius: 1rem;
    --standard-border-radius: 0.625rem;
    --soft-border-radius: 0.406rem;

	--sharp-eio-transition: .1s ease-in-out;
	--standard-eio-transition: .2s ease-in-out;
	--soft-eio-transition: .5 ease-in-out;



	/*Text*/
	--normal-font-family: Arial, Helvetica, sans-serif;

	--large-text-shadow: 0 0 6px black;
	--standard-text-shadow: 0 0 3px black;
	--small-text-shadow: 0 0 1.5px black;

	--xl-font-size: 1.75rem;
	--large-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.75rem;
}

/*#region Body*/

html{
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	overflow-y: auto; 
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	font-family: var(--normal-font-family);
    background-color: var(--wb-primary-bg-color);
}

/*#endregion*/

/*#region Scrollbar*/

::-webkit-scrollbar{
	width: var(--scrollbar-width);
}
::-webkit-scrollbar-track{
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	background-color: transparent;
	border-radius: var(--standard-border-radius);
	background-image:
		linear-gradient(
			var(--primary-scrollbar-color), 
			var(--secondary-scrollbar-color));
}
::-webkit-scrollbar-thumb:hover{
	border: 3.5px solid var(--primary-scrollbar-color);
}
::-webkit-scrollbar-thumb:active{
	border: none;
	background-image:
		linear-gradient(
			var(--active-primary-scrollbar-color), 
			var(--active-secondary-scrollbar-color));
}

/*#endregion*/


a{
	transition: var(--standard-eio-transition);
	display: block;
	text-decoration: none;
}
h3, h2, span, p{
    margin-block-start: 0;
    margin-block-end: 0;
}